.everything {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: brown;
    margin-left: 500px;
    margin-right: 500px;
    height: 700px;
    border-radius: 10px;
}

.title {
    display: flex;
    color: white;
    margin-left: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.something {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    background-color: salmon;
    padding-left: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 520px;
    height: 580px;
    margin-bottom: 30px;
    margin-top: 10px;
    border-radius: 10px;
    border: 3px solid grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
    background-color: gold;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 7px;
    width: 70px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.button:hover {
    background-color: #f9b411;
}

.arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.add {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 10px;
    align-items: center;
}

input[type=text]{
    border-radius: 5px;
    padding: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}